.play-button {
    -fx-background-color:  #212529;
    -fx-background-radius: 50px;
    -fx-pref-width: 50;
    -fx-pref-height: 50;
    -fx-border-width: 2;
    -fx-border-color: white;
    -fx-border-radius: 50;
}
.control-button {
    -fx-fit-width: 40;
    -fx-pref-height: 40;
}
.progress-bar .track {
    -fx-padding: 10;
    -fx-background-radius: 50;
    -fx-background-color:  #212529;
}
.progress-bar .bar {
    -fx-background-color: linear-gradient(to left, #FF2969, #FF5A3A);
    -fx-background-radius: 50;
}
.list-view .list-cell:even {
-fx-background-color: #222222;
-fx-text-fill: black;
}
.list-view .list-cell:odd {
-fx-background-color: #222222;
-fx-text-fill: black;
}
.list-cell {
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 50%);
}
.combo-box .list-cell
{
    -fx-background: #222222;
    -fx-background-color: #222222;
    -fx-text-fill: white;
    -fx-padding: 3 0 2 7;
}

.combo-box-popup .list-view
{
    -fx-background-color: #222222, #222222;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.combo-box-popup .list-cell {
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: white;
    -fx-text-fill: #222222;
}

.combo-box-base
{

    -fx-background-color: #222222, #222222, #222222, #222222;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: #222222;
}

.combo-box-base:showing
{
    -fx-color: #222222;
}

.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}

.add-button {
    -fx-background-color: #222222;
    -fx-text-fill: white;
    -fx-border-color: #444444;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
.playlist-play-button {
    -fx-background-color: linear-gradient(to left, #FF2969, #FF5A3A);
    -fx-background-radius: 10;
}